.Landing{
    height: 100%;
}

.landing.logo {
    width: 30vmin;
    max-width: 200px;
    margin-bottom: 2vmin;
}

@keyframes logoRotate {
    0%   {transform:rotate(0deg);}
    25%  {transform:rotate(-30deg);}
    100% {transform:rotate(360deg);}
}
  
.landing.logo.active {
    animation-name: logoRotate;
    animation-duration: 1s;
}

.Landing.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    grid-row-gap: 2vh;
}


.landing.item {
    grid-column: span 12;
}


.landing.item{
    font-size: 5vmin;
    font-weight: bold;
    font-family: "Helvetica"
}

.landing.item.social{
    margin-top: 2vmin;
    font-size: 7vmin;
    margin: 2vmin;
}

.landing.item:link {
    text-decoration: none;
}

.landing.item:link, .landing.item:visited {
    color: black;
}
  
.landing.item:hover, .landing.item:active {
    color: grey;
}