.Work.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    height:100%;
    z-index: -1;
}

.WorkItem {
    grid-column: span 9;
}

@media only screen and (min-width: 768px) {
    .WorkItem {
        grid-column: span 3;
    }
}


