.WorkItem {
    position: relative;
}



.workImageContainer {
    display: flex; 
    align-items: center;
    height: 100%;
    border: 5px solid black;
}

.work.image {
    width: 100%;
    opacity: 0.6;
}

.image.landscape {
    display: initial;
}

.image.portrait {
    display: none;
}

@media only screen and (min-width: 768px) {
    .image.landscape {
        display: none;
    }

    .image.portrait {
        display: initial;
    }
}

.text {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(116, 116, 116, 0.705);
}