.App {
  text-align: center;
  height: 100vh;
}

.page {
  height: 100vh;
  position: fixed;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.page-enter {
  opacity: 0;
  transition: opacity 1s ease-in-out;

}
.page-enter-active {
  opacity: 1;
}