.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.page-enter .Contact {
  opacity: 0;
  transition: opacity 1s ease-in-out;

}
.page-enter-active .Contact {
  opacity: 1;
}

.page-enter .landing.item {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  transition-delay: 0.6s;
}

.page-enter-active .landing.item {
  opacity: 1;
  pointer-events: none;
}


@keyframes logoHeaderToLanding {
  0%   {transform:translate(
                    calc( 20px + 5vmax - 50vw), 
                    calc( 5vmax - 20vh)) 
                    rotate(0deg);}
  25%  {transform:translate(
                    calc( 20px + 5vmax - 50vw), 
                    calc( 5vmax - 20vh)) 
                    rotate(-30deg);}
  100% {transform:translate(
                  0,
                  0)
                  rotate(360deg);}
}

.page-enter .landing.item.logo {
  position: relative;
  opacity: 1;
  animation-name: logoHeaderToLanding;
  animation-duration: 0.6s;
  width: 40px;
  transition: width 0.45s ease-in;
  transition-delay: 0.15s;
}

.page-enter-active .landing.item.logo {
  transform: none;
  width: 30vmin;
}